@(id:Int,bookform:Form[Book])(implicit request:RequestHeader,messages: play.api.i18n.Messages)
@import helper._
@layout("Update Book"){
<h1>Update Book Record</h1>
@form(action=routes.BookController.edit(id)){
@CSRF.formField
@inputText(bookform("id"),'class -> "form-control")
@inputText(bookform("bookName"),'class -> "form-control")
@inputText(bookform("author"),'class -> "form-control")
<button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-plus"></i> Update Book</button>

}
}